* {
    line-height: 22px;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
    --darkblue: darkblue; 
    --lightblue: lightblue; 
}

body {
    display: flex;
    flex-direction: column;
    background-color: lavender;
}

header {
    display: flex;
    flex-wrap: nowrap;
    display: block;
    text-align: center;
}

h1 {
    font-size: x-large;
}


main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

/* why does it only accept main section and not .class?? arent they the same?? */
/* why cant i get my boxes even height?? without doing a fixed height bc on desktop, the top row is too big but if set to smaller, then it wont look right on tablet*/
main section {
    width: 30%;
    height: 350px;
    border: 2px dashed black;
    border-radius: 5px;
    padding: 2%;
    margin: 1% auto;
    background-color: rgba(240, 239, 239, 0.911);
}

.card h2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 85%;
    border: 2px solid var(--darkblue);
    border-radius: 15px;
    padding: 2%;
    background-color:var(--lightblue);
    color: var(--darkblue);
    box-sizing: border-box;
    position: relative;
    margin: -40px auto auto auto;
    transition: font-size 4s 1s;
  }

/* hover over h2 causing font size to grow */
.card h2:hover {
    font-size: 36px;
  }

.card p {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 2%;
}

.card pre {
    width: 85%;
    border: 2px solid var(--lightblue);
    background-color: var(--darkblue);
    color: var(--lightblue);
    font-family: monospace;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    white-space: pre-wrap;
    tab-size: 4;
    user-select: all;
    background-image: linear-gradient(var(--darkblue) 0%, rgb(67, 67, 141) 100%);
    }

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }

  span.heart {
      color: red;
  }

/* On tablet at size 768px and above, display two CSS code snippets per row */
@media screen and (max-width: 992px) {
    main section {
        width: 50%;
     }
}

/* On mobile device, under 768px, display one CSS code snippet per row */
@media screen and (max-width: 768px) {
    main section {
        width: 100%;
    }
}